#foot{

left: 0px;
width: 1440px;
height: 686px;
background: #F6F9FC 0% 0% no-repeat padding-box;
opacity: 1;
margin-top: 50px;
padding-left: 82px;
padding-top: 80.29px;
}
#foot .cronj{
    top: 11966px;
    left: 82px;
    width: 174px;
    height: 74px;
    background: transparent url('/img/Group\ 10693.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#foot .foot1{
width: 210px;
height: 29px;
text-align: left;
font: normal normal medium 21px/35px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
padding-top: 20.17px;
}

#foot .foot2{
    padding-top: 40.34px;
    width: 89px;
    height: 25px;
    text-align: left;
    font: normal normal medium 18px/35px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}
#foot .foot3{
    padding-top: 48.69px;
    width: 149px;
    height: 25px;
    text-align: left;
    font: normal normal medium 18px/35px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.box1{
    float:left;
    padding-right: 69.55px;
}
.box2{
    float:left;
}
.box2 h4{
    height: 31px;
    text-align: left;
    font: normal normal 600 22px/33px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding-bottom: 43.56px;
}

.box2 p{
    text-align: left;
    font: normal normal normal 18px/35px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    line-height: 58.59px;

}

.box3{
    float:left;
    margin-top: 43px;
    margin-left: 60px;
}


.box3 p{
    text-align: left;
    font: normal normal normal 18px/35px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    line-height: 58.59px;
    

}
.box4{
    float:left;
    margin-left: 50px;
}


.box4 h4{
    height: 31px;
    text-align: left;
    font: normal normal 600 22px/33px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding-bottom: 43.56px;
}
.box4 p{
    text-align: left;
    font: normal normal normal 18px/35px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    line-height: 58.59px;

}

.box5{
    float:left;
    margin-left: 82.68px;
    margin-top: 54px;

}
.box5 .foot41{
    width: 26px;
    height: 26px;
    background: transparent url('/img/Mask\ Group\ 102.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-bottom: 60px;
}
.box5 .foot42{
    width: 26px;
    height: 26px;
    background: transparent url('/img/Mask Group\ 103.png') 0% 0% no-repeat padding-box;  
    opacity: 1;
    padding-bottom: 60px;

}
.box5 .foot43{
    width: 26px;
    height: 26px;
    background: transparent url('/img/Mask\ Group\ 104.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-bottom: 60px;

}
.box5 .foot44{
    width: 26px;
    height: 26px;
    background: transparent url('/img/Mask\ Group\ 114.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.box6{
    float:left;
    margin-left: 10px;
}


.box6 h4{
    height: 31px;
    text-align: left;
    font: normal normal 600 22px/33px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding-bottom: 43.56px;
}
.box6 p{
    text-align: left;
    font: normal normal normal 18px/35px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    line-height: 58.59px;

}

#mail{
    left: 0px;
    width: 1440px;
    height: 200px;
    background: #F6F9FC 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: -150px;
    padding-left: 82px;

}

#mail h2{
    width: 290px;
    height: 31px;
    text-align: left;
    font: normal normal 600 22px/33px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#mail .mail-box{
    display: inline-flex;  
    margin-top: 20px;
    
}
#mail .mail-box .mb1{
    width: 71px;
    height: 71px;
    background: transparent url('/img/Group\ 14243.png') 0% 0% no-repeat padding-box;
    border-radius: 26px;
    opacity: 1;
    margin-right: 30px;
}

#mail .mail-box .mb2{
    width: 71px;
    height: 71px;
    background: transparent url('/img/Group\ 14244@2x.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-right: 30px;

}
#mail .mail-box .mb3{
    width: 71px;
    height: 71px;
    background: transparent url('/img/Group\ 14245.png') 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 1;
    margin-right: 30px;

}
#mail .mail-box .mb4{
    width: 71px;
    height: 71px;
    background: transparent url('/img/Group\ 14242@2x.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-right: 30px;

}
#mail .mail-box .mb5{
    width: 71px;
    height: 71px;
    background: transparent url('/img/Group\ 10695.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    
}




